@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.navbar{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    
}
.navbar a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}
.navbar a:hover{
    color: #7fffd4;
}
.navbar .right-nav{
    display: flex;
    justify-content: space-between;
    width: 180px;
    padding: 15px;
    margin-right: 20px;
}
.navbar .left-nav{
    padding: 15px;
    margin-left: 20px;
}
.container{
    margin-top: 18px;
}
.form-text{
    color: #ff0000 !important;
}
#submit, #submit2, #change, #logout{
    background-color: #000000 !important;
    color: #ffffff !important;
    outline: none !important;
    border: none !important;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, .75) !important;
    transition: 0.3s;
}
#submit:hover{
    background-color: #3a3535 !important;
}
#submit2:hover{
    background-color: #3a3535 !important;
}
#change:hover{
    background-color: #3a3535 !important;
}
#logout:hover{
    background-color: #3a3535 !important;
}
.info{
    margin: 10px;
    padding: 20px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
}
.changePassword{
    margin: 10px;
    padding: 20px;
}
input{
    border: 1px solid #000000 !important;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, .75) !important;
}
.notification{
    color: #008000 !important;
}
form h3{
    font-size: 25px;
}
@media screen and (max-width: 500px){
    .navbar a{
        font-size: 13px;
    }
    .right-nav{
        width: 100px !important;
    }
    .navbar .right-nav{
        padding: 8px;
        margin-right: 0;
    }
    .navbar .left-nav{
        padding: 8px;
        margin-left: 0;
    }

}